[Unit]
Description=bluetooth keyboard
After=bluetooth.target
 
[Service]
Environment=PYTHONPATH=/home/pi/btbepokb
Type=simple
ExecStart=/usr/bin/python /home/pi/btbepokb/server/btk_server.py

#Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
